/*------------------------------------------------------------------
[Table of contents]

0. General
1. Header
2. Page Home
  2.1 Section 1
  2.2 Section 2
  2.3 Section 3
  2.4 Section 4
  2.5 Section 5
  2.6 Section 6
3. Alt Pages
4. 404 page
5. Footer

    

-------------------------------------------------------------------*/

/*=============================================
=           0. General                    =
=============================================*/

.graphics {
  position: absolute;

  &--header {
    left: 0;
    top: 0;
    z-index: -1;
  }
}


.waves {
  position: absolute;

  &--header {
    right: 12.1rem;
    top: 36.7rem;
    z-index: 2;
  }
}





/*=============================================
=           1. Header                    =
=============================================*/

.header {
  &--alt {
    color: red;
  }

  &__content {
    padding-bottom: 3.5rem;
    padding-top: 3.5rem;
  }

  &__image {
    position: relative;

    .header__image-caption {
      position: absolute;
      left: 0;
      top: 8rem;
    }
  }
}

.logo {
  max-width: 90%;

  &--header {
    margin-bottom: 2.5rem;
    text-align: center;
  }

  &--footer {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
  }
}

.breadcrumbs {

  a {
    color: $primary-blue;
    display: inline;
    font-size: 1.6rem;
  }

  p {
    color: $primary-blue;
    display: inline;
    font-size: 1.6rem;
    font-weight: 600;
    margin-left: 2rem;
    padding-left: 3rem;
    position: relative;

    &::before {
      content: "";
      background-color: $primary-green;
      border-radius: 50%;
      height: 1rem;
      left: 0;
      position: absolute;
      top: 0.5rem;
      width: 1rem;
    }
  }
}





/*=============================================
=           2. Page Home                    =
=============================================*/

.section {
  position: relative;
}


@include desktop {

}





/*=============================================
=           2.1 Section 1                    =
=============================================*/





/*=============================================
=           2.2 Section 2                    =
=============================================*/





/*=============================================
=           2.3 Section 3                    =
=============================================*/





/*=============================================
=           2.4 Section 4                    =
=============================================*/





/*=============================================
=           2.5 Section 5                    =
=============================================*/





/*=============================================
=           2.6 Section 6                    =
=============================================*/





/*=============================================
=           3. Alt Pages                    =
=============================================*/

.alt-page {
  
}





/*=============================================
=           4. 404 page                    =
=============================================*/
.page-404 {

  .title {
    margin-bottom: 3rem;
    text-align: center;
  }

  &__title {
    font-size: 7rem;
    font-weight: 600;
    letter-spacing: 0.2rem;
    line-height: 1.25;
  }

  &__subtitle {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.8;
  }

  &__description {
    color: $alt-text-color;
    font-size: 1.6rem;
    margin-bottom: 2rem;
    text-align: center;
  }
}

.logo--404 {
  margin-bottom: 7rem;
  padding: 0;
}


/*=============================================
=           5. Footer                    =
=============================================*/

.footer {
  position: relative;

  &__bg {
    margin-bottom: -2px;
    position: relative;
    width: 100%;
    z-index: 1;
  }

  &__content {
    bottom: 5.6rem;
    left: 0;
    position: absolute;
    right: 0;
    z-index: 2;
  }
  
  &__copyright {
    p {
      color: $sky-blue;
      font-size: 1.2rem;
      letter-spacing: 0.07rem;
    }
  }
}






