/*------------------------------------------------------------------
[Table of contents]

0. General
1. Header
2. Page Home
  2.1 Section 1
  2.2 Section 2
  2.3 Section 3
  2.4 Section 4
  2.5 Section 5
  2.6 Section 6
  2.7 Section 7
3. Alt Pages
4. Footer

-------------------------------------------------------------------*/



/*=============================================
=           0. General                    =
=============================================*/

@include desktop {
    .grid-1340 {
        padding: 0 2rem;
    }

    .graphics {
        &--seagull {
          left: 2rem;
        }
      }

    .waves {
        &--header {
        }

        &--1 {
        }

        &--5 {
            display: none;
        }

        &--5-2 {
            right: 40rem;
        }
    }
} // End: desktop
   



/*=============================================
=           1. Header                    =
=============================================*/

@include laptop {

} // End: laptop

@include tablet {

} // End: tablet

@include mobile {

} // End: mobile





/*=============================================
=           2. Page Home                    =
=============================================*/







/*=============================================
=           2.6 Section 6                    =
=============================================*/

@include tablet {

}







/*=============================================
=           3. Alt Pages                    =
=============================================*/

@include tablet {
    .law {
        
    }
} // End: tablet





/*=============================================
=           3. Footer                    =
=============================================*/

@include tablet {

} // End: tablet

@include mobile {

} // End: mobile
