/*------------------------------------------------------------------
[Table of contents]

0. General
1. Header
2. Page Home
  2.1 Section 6
3. Alt Pages
4. Footer

-------------------------------------------------------------------*/



/*=============================================
=           0. General                    =
=============================================*/

@include desktop {
    .grid-1340 {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .graphics {
        &--seagull {
            left: 2rem;
        }
    }

    .waves {
        &--5 {
            display: none;
        }
    }

    .waves-clouds {
        &--2 {
          right: 2rem;
        }
    }
} // End: desktop

@include mediumDesktop {
    .waves {
        &--5-2 {
            display: none;
        }
    }
} // End: mediumDesktop

@include laptop {
    .pad-l-10 {
        padding-left: 7rem;
    }
    
    .grid-1340 {
        padding-left: 4rem;
        padding-right: 4rem;
    }
} // End: laptop

@include tablet {
    .section {
        &--pad-t {
            & > div {
                &:first-child {
                    padding-top: 8rem;
                }
            }
        }
    }

    .section {
        &--pad-b {
            & > div {
                &:first-child {
                    padding-bottom: 8rem;
                }
            }
        }
    }

    .waves {
        &--1 {
            display: none;
        }
    }

    .waves-clouds {
        &--2 {
            display: none;
        }
    }

    .circle {
        &--header {
            bottom: 12rem;
            height: 30rem;
            width: 30rem;
        }

        &--section-4 {
            bottom: -12rem;
            height: 35rem;
            width: 35rem;
        }
    }
} // End: tablet

@include mobile {
    .waves {
        &--header {
            display: none;
        }
    }

    .pad-l-10 {
        padding-left: 0;
    }

    .grid-1340 {
        padding-left: 4rem;
    }
} // End: mobile





/* =============================================
=           1. Header                    =
============================================= */

@include laptop {
    .logo {
        &--footer {
            bottom: 10.5rem;
        }
    }

    .header {
        &__title {
            padding-right: 2rem;

            &::before {
                width: calc(100% - 10rem);
            }
        }

        &__image {
            .header__image-caption {
                left: 7rem;
            }
        }
    }
} // End: laptop

@include tablet {
    .logo {
        &--footer {
            bottom: 15rem;

            a {
                padding: 0 2rem 1rem;
            }
        }
    }

    .header {
        &__heading {
            font-size: 2.6rem;
            min-width: 90%;
            max-width: 100%;
            padding-left: 2rem;
            z-index: 1;
        }

        &__image {
            .header__image-caption {
                font-size: 4rem;
                position: static;
            }
        }
    }
} // End: tablet

@include mobile {
    .header {
        &__content {
            padding-bottom: 5rem;
        }
    }
} // End: mobile





/*=============================================
=           2. Page Home                    =
=============================================*/

@include mediumDesktop {
    .section {
        &--4 {
            .text-over-image {
                padding-left: 5rem;
                padding-right: 5rem;
                padding-top: 5rem;
            }
        }
    }
} // End: mediumDesktop

@include tablet {
    .section {
        &--1 {
            .d-wrap {
                flex-wrap: initial;
            }

            .section__paragraph {
                margin-bottom: 5rem;

                &.grid-60 {
                    width: 100%;
                }
            }

            .grid-35 {
                width: 100%;
            }
        }

        &--2 {
            .grid-70 {
                width: 100%;
            }

            &.section--pad-t {
                & > div {
                    &:first-child {
                        padding-top: 16rem;
                    }
                }
            }
        }

        &--3 {
            figure {
                margin-bottom: 2rem;
                margin-right: 0;

                &.grid-38 {
                    width: 100%;
                }

                &.grid-20 {
                    margin: 0 auto;
                    width: 70%;
                }
            }
        } // End: --3

        &--4 {
            .image-behind {
                background: none !important;

                figure {
                    display: block;
                }
            }

            .text-over-image {
                background-color: transparent;
                margin-left: 0;
                margin-top: 2rem;
                padding: 3rem 0;
            }
        }

        &--5 {
            .grid-60 {
                margin-bottom: 4rem;
                width: 100%;
            }

            .grid-35 {
                width: 80%;
            }
        }
    }
} // End: tablet




/*=============================================
=           2.1 Section 6                    =
=============================================*/

@include laptop {
    .room {
        &__single {
            padding: 0 7rem 7rem;

            &::before {
                height: calc(100% - 20rem);
                left: 0;
                top: initial;
                width: 100%;
            }
        }

        &__description {
            margin-bottom: 7rem;
            padding: 9rem 5rem;
        }

        &__design {
            margin-left: 0;
        }
    } // .room
} // End: laptop

@include tablet {
    .section {
        &--6 {
            .section__paragraph {
                margin-left: 26rem;
            }

            .section--pad-t {
                & > div {
                    &:first-child {
                        padding-top: 20rem;
                    }
                }
            }
        }
    }
} // End: tablet

@include mobile {
    .section {
        &--6 {
            .section__paragraph {
                margin-left: 0;
            }
        }
    }

    .graphics {
        &--seagull {
            display: none;
        }
    }

    .room {
        &__single {
            padding: 0 2rem 4rem;
        }

        &__description {
            margin-bottom: 6rem;
            padding: 6rem 4rem;

            h3 {
                font-size: 2.6rem;
            }
        }

        &__size {
            bottom: -1.4rem;
            font-size: 8rem;
            right: -0.6rem;
        }
    } // .room
} // End: mobile





/*=============================================
=           3. Alt Pages                    =
=============================================*/

@include tablet {
    .law {
        
    }
} // End: tablet





/*=============================================
=           4. 404 page                    =
=============================================*/

.page-404 {
    height: 100%;
    margin: 0 auto;
    max-width: 95%;
    text-align: center;
}





/*=============================================
=           5. Footer                    =
=============================================*/

@include laptop {
    .footer {
        padding-top: 5rem;
      
        &__top {
            padding-bottom: 7rem;
        }

        &__bottom {
            padding-top: 15rem;
        }
    }
} // End: laptop

@include tablet {
    .footer {
        &__top {
            padding-bottom: 9rem;

            .footer__contact-info {
                margin-bottom: 4rem;
                text-align: center;

                a {
                    font-size: 2.4rem;
                }
            }

            .footer__address-info {
                margin-bottom: 4rem;
                text-align: center;

                p {
                    font-size: 2.2rem;
                }
            }
        }

        &__bottom {
            padding-bottom: 3rem;
            text-align: center;

            .footer__copyright {
            }

            .footer__menu {
                margin-bottom: 1rem;

                .footer__menu-list {
                    padding: 0;

                    li {
                        display: block;
                        margin-right: 0;

                        a {
                            display: block;
                            padding: 1rem;
                        }
                    }
                }
            }
        }
    }
} // End: tablet

@include mobile {

} // End: mobile
