/*=============================================
=            SETOF Colors                  =
=============================================*/
$primary-gray: #333333;
$primary-blue: #277191;
$secondary-blue: #1D5F7A;

/* Background */
$primary-bg-blue: #B5E4FA;
$secondary-bg-blue: #71B3CB;

/* Font */
$text-color: #277191;
$secondary-text-color: #71B3CB;
$alt-text-color: #FFFFFF;

/* Additional */
$gradient-color-1: #163148;
$gradient-color-2: #2C6290;

$gradient: $gradient-color-1, $gradient-color-2; 